window {
    background: #100F0F; /* base01 */
    border-color: #282726; /* base02 */
    border: 2px solid #282726;
}

button,
image {
    color: #FFFCF0; /* base07 */
}

button {
    color: #FFFCF0; /* base05 */
    padding: 3px;
}

button:hover {
    background-color: rgba(40, 39, 38, 0.5); /* base02 */
}
