:root {
--color00: #100F0F;
--color01: #100F0F;
--color02: #100F0F;
--color03: #FFFCF0;
--color04: #FFFCF0;
--color05: #FFFCF0;
--color06: #FFFCF0;
--color07: #FFFCF0;
--color08: #AF3029;
--color09: #AD8301;
--color0A: #D0A215;
--color0B: #66800B;
--color0C: #24837B;
--color0D: #205EA6;
--color0E: #A02F6F;
--color0F: #D14D41;
}
